<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuizApp</title>
    <link rel="stylesheet" href="../public/css/edit.css">
    <script src="https://kit.fontawesome.com/20500f701e.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="top">
            <div class="start-quiz">
                <button>Rozpocznij quiz</button>
            </div>

            <form action="/edit/<%= concept._id %>" method="POST">
                <div class="fields">
                    <div class="field1">
                        <label for="concept" class="concept">Pojęcie:</label>
                        <input type="text" name="concept" value="<%= concept.concept %>"> <!-- Populate current concept value -->
                    </div>
                    <div class="field2">
                        <label for="definition" class="def">Definicja</label>
                        <input type="text" name="definition" value="<%= concept.definition %>"> <!-- Populate current definition value -->
                    </div>
                </div>
                <button type="submit">Edytuj</button>
            </form>
            
            


        </div>

    </div>
    
</body>
</html>