@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Mukta&family=Oxygen&display=swap');
*{
    background-color: rgb(240, 235, 235);
    font-family: 'Inter', sans-serif;
   
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.conatiner{
    background-color: white;
    width: 50vw;
    height: 30vh;
    padding: 20px;

    
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#score-display{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    p{
        text-align: center;
        font-size: 20px;
        background-color: white;
    }
}
.choice {
    
    margin: 5px;
    padding: 10px;
    
    cursor: pointer;
    background-color: white;
}
#quiz-container{
    align-items: center;
    padding: 20px;
    background-color: white;
    p{
        background-color: white;
        font-weight: bold;
    }
    .choice{
        border: 1px solid gray;
    }

}

.correct-choice {
    background-color: rgb(101, 179, 101);
    color: white;
}

.wrong-choice {
    background-color: rgb(204, 74, 74);
    color: white;
}

#score-display {
    margin-bottom: 10px;
    font-weight: bold;
}